.itemDetailContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
}

.detailImgContainer{
    display: flex;
    justify-content: center;
    flex: 1;
    
}

.detailTextContainer{
    flex: 1;
    padding: 2rem;
}

.detailImg{
    max-height: 60vh;
}
.detailItemTitle{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.detailItemDescription{
    font-size: 1.2rem;
    color: rgba(61, 61, 61, 0.822);
    margin-bottom: 1rem;
}

/* responsive */

.itemDetailContainer.big-phone, .itemDetailContainer.tablet{
    flex-direction: column;
}

.detailImg.big-phone{
    max-width: 80%;
}