.sidebar__container{
    transition:all 1s ease;
    transform: translateX(0);
    position:absolute;
    left: 0;
    top: 3rem;
    background-color: aqua;
}

.sidebar__container.active{
    transform: translateX(-90%);
}
.sidebar__wrapper{
    height: calc(100vh - 3rem);
    width: 20vw;
    position:relative;
}
.toggle_sidebar{
    position: absolute;
    top: 0;
    right: -10px;
}